<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .center {
            text-align: center;
        }
        .grid {
            display: grid;
        }
    </style>
</head>
<body>
    <div>
        <div class="center">LEMBAR</div>
        <div class="center">HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</div>
        <div class="center">KARYA ILMIAH : JURNAL ILMIAH</div>
    </div>
    <div>
        <div class="grid">
            <div>Judul Artikel</div>
            <div>: ...</div>
        </div>
        <div>
            <div>Penulis Artikel Ilmiah</div>
            <div>1...2...3...dst</div>
        </div>
        <div>
            <div>Identitas Jurnal Ilmiah</div>
            <div>
                <div>
                    <div>a. Nama Jurnal</div>
                    <div>: nilai</div>
                </div>
                <div>
                    <div>b. Nomor/Volume/Hal</div>
                    <div>: nilai</div>
                </div>
                <div>
                    <div>c. Edisi (bulan/tahun)</div>
                    <div>: nilai</div>
                </div>
                <div>
                    <div>d. Penerbit</div>
                    <div>: nilai</div>
                </div>
                <div>
                    <div>e. Jumlah Halaman</div>
                    <div>: nilai</div>
                </div>
            </div>
        </div>
        <div>
            <div>Kategori Publikasi Ilmiah</div>
            <div>
                <div>
                    <div>..</div>
                    <div>Jurnal Ilmiah Internasional Bereputasi</div>
                </div>
                <div>
                    <div>..</div>
                    <div>Jurnal Ilmiah Internasional</div>
                </div>
                <div>
                    <div>..</div>
                    <div>Jurnal Nasional Terakreditasi</div>
                </div>
                <div>
                    <div>..</div>
                    <div>Jurnal Nasional tidak Terakreditasi</div>
                </div>
                <div>
                    <div>..</div>
                    <div>Jurnal Ilmiah Nasional Terindeks DOAJ dll.</div>
                </div>
            </div>
        </div>
        <div>
            <div>I. Hasil Penilaian Validasi</div>
            <div>
                <table>
                    <tr>
                        <td>No</td>
                        <td>Aspek</td>
                        <td>Uraian/komentar Penilai</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Indikasi Plagiasi</td>
                        <td>..</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Lineritas</td>
                        <td>..</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <div>II. Hasil Penilaian Peer Reviewer:</div>
            <div>
                <table>
                    <tr>
                        <td>Komponen Yang Dinilai</td>
                        <td>Nilai Maksimal Jurnal Ilmiah (Isikan di kolom yang sesuai)</td>
                        <td>Nilai akhir yang diperoleh</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Internasional Bereputasi</td>
                        <td>Internasional</td>
                        <td>Nasional Terakreditasi</td>
                        <td>Nasional Tidak Terakreditasi</td>
                        <td>Nasional Terindeks DOAJ dll.</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kelengkapan dan kesesuain unsur isi jurnal (10%)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ruang lingkup dan kedalam pembahasan(30%)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kecukupan dan kemutakhiran data/informasi dan meteodologi(30%)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kelengkapan unsur dan kualitas penerbit(30%)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Total = (100%)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kontribusi Pengusul (Penulis Pertama/ Anggota)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>KOMENTAR ULASAN PEER REVIEW</td>
                    </tr>
                    <tr>
                        <td>Kelengkapan dan Kesesuaian unsur</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ruang lingkup dan kedalam pembahasan.</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kecukupan & kemutakhiran data & Metodologi</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Kelengkapan unsur & kualitas Penerbit:</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <div>Makassar,</div>
            <div>Penilai 2</div>
            <div>.........</div>
            <div>NIP</div>
            <div>.........</div>
            <div>
                <div>Unit Kerja</div>
                <div>: Fak. Teknik Dep.</div>
            </div>
            <div>
                <div>Bidang Ilmu</div>
                <div>: ..</div>
            </div>
            <div>
                <div>Jabatan Pangkat</div>
                <div>: ..</div>
            </div>
        </div>
    </div>
</body>
</html>