<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>LEMBAR</div>
        <div>HASIL PENILAIAN SEJAWAT SEBIDANG ATAU PEER REVIEW</div>
        <div>KARYA ILMIAH : BUKU</div>
    </div>
    <div>
        <div>
            <div>Judul Buku</div>
            <div>: ...</div>
        </div>
        <div>
            <div>Jumlah Penulis</div>
            <div>: .... orang</div>
        </div>
        <div>
            <div>Status Pengusul</div>
            <div>: Penulis pertana/penulis ke ...</div>
        </div>
        <div>
            <div>Identitas Buku</div>
            <div>
                <div>
                    <div>a. Nomor ISBN</div>
                    <div>: nilai</div>
                </div>
                <div>
                    <div>b. Edisi</div>
                    <div>: nilai</div>
                </div>
                <div>
                    <div>c. Tahun Terbit</div>
                    <div>: nilai</div>
                </div>
                <div>
                    <div>d. Penerbit</div>
                    <div>: nilai</div>
                </div>
                <div>
                    <div>e. Jumlah Halaman</div>
                    <div>: nilai</div>
                </div>
            </div>
        </div>
        <div>
            <div>Kategori Publikasi Ilmiah</div>
            <div>
                <div>
                    <div>..</div>
                    <div>: Buku referensi</div>
                </div>
                <div>
                    <div>..</div>
                    <div>Buku Monograf</div>
                </div>
            </div>
        </div>
        <div>Hasil Penilaian Validasi</div>
            <div>
                <table>
                    <tr>
                        <td>Komponen Yang Dinilai</td>
                        <td>Nilai Maksimal Buku</td>
                        <td>Internasional</td>
                        <td>Nasional</td>
                        <td>Nilai Yang Akhir Diperoleh</td>
                    </tr>
                    <tr>
                        <td>a. Kelengkapan unsur isi buku (20%)</td>
                        <td>..</td>
                        <td>..</td>
                        <td>..</td>
                    </tr>
                    <tr>
                        <td>b. Ruang lingkup dan pembahasan (30%)</td>
                        <td>..</td>
                        <td>..</td>
                        <td>..</td>
                    </tr>
                    <tr>
                        <td>c. Kecukupan dan kemuktahiran data/informasi dan metodologi (30%)</td>
                        <td>..</td>
                        <td>..</td>
                        <td>..</td>
                    </tr>
                    <tr>
                        <td>d. Kelengkapan unsur dan kualitas penerbit (20%)</td>
                        <td>..</td>
                        <td>..</td>
                        <td>..</td>
                    </tr>
                    <tr>
                        <td>Total = (100%)</td>
                        <td>..</td>
                        <td>..</td>
                        <td>..</td>
                    </tr>
                    <tr>
                        <td>Nilai Pengusul =</td>
                    </tr>
                </table>
                <div>
                    <div>Catatan penilaian paper oleh Reviewer: </div>
                </div>
            </div>
            <div>
                <div>Makassar,</div>
                <div>Reviewer 1</div>
                <div>.........</div>
                <div>NIP</div>
                <div>.........</div>
                <div>
                    <div>Unit Kerja</div>
                    <div>: Fak. Teknik Dep.</div>
                </div>
            </div>
        <div>
</body>
</html>